@page "/login"
@rendermode InteractiveServer
@inject ICookie cookie

<h1>Login</h1>



    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" @bind="@username" class="form-control" id="inputUsername">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" @bind="@password" class="form-control" id="inputPassword">
    </div>
    <button class="btn btn-primary" @onclick="MethodLogin">Login</button>


@code {
    private AuthController backend;
    private string username;
    private string password;

    private async Task MethodLogin()
    {
        backend = new AuthController("http://127.0.0.1:8080/auth/login");
        LoginDTO l = new LoginDTO();
        l.username = username;
        l.password = password;
        String token = backend.Login(l);
  
        cookie.SetValue("token", token, 30);

    }
}


