@page "/login"
@rendermode InteractiveWebAssembly
<h3>Login</h3>


<form>
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" @bind="@username" class="form-control" id="inputUsername" >
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" @bind="@password" class="form-control" id="inputPassword">
    </div>
    <button class="btn btn-primary"  @onclick="MethodLogin" >Login</button>
</form>


@code {
    private string username;
    private string password;

    private void MethodLogin()
    {
        throw new Exception();
    }
}